#########################################
#
# Policy for testing the selinux_task_setnice and
# selinux_task_setscheduler hooks.
#

attribute test_setsched_d;

# Domain for the target process
type test_setsched_target_t;
domain_type(test_setsched_target_t)
unconfined_runs_test(test_setsched_target_t)
typeattribute test_setsched_target_t test_setsched_d;
typeattribute test_setsched_target_t testdomain;

# Domain that can change the target's priority and scheduling policy.
type test_setsched_yes_t;
domain_type(test_setsched_yes_t)
unconfined_runs_test(test_setsched_yes_t)
typeattribute test_setsched_yes_t test_setsched_d;
typeattribute test_setsched_yes_t testdomain;

# Domain that cannot change the target's priority or scheduling policy.
type test_setsched_no_t;
domain_type(test_setsched_no_t)
unconfined_runs_test(test_setsched_no_t)
typeattribute test_setsched_no_t test_setsched_d;
typeattribute test_setsched_no_t testdomain;

# Allow domain to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(test_setsched_d)
userdom_sysadm_entry_spec_domtrans_to(test_setsched_d)

# Allow these domains to execute renice.
corecmd_bin_entry_type(test_setsched_d)

# Give these domains the capability needed to change the target.
allow test_setsched_d self:capability sys_nice;

# Give test_setsched_yes_t the permission needed to change the target.
allow test_setsched_yes_t test_setsched_target_t:process setsched;
