#################################
#
# Policy for testing sysctl permission
#

attribute sysctldomain;

# Domain for process that is allowed to perform sysctl.
type test_sysctl_t;
domain_type(test_sysctl_t)
unconfined_runs_test(test_sysctl_t)
typeattribute test_sysctl_t sysctldomain;
typeattribute test_sysctl_t testdomain;

# Domain for process that is not allowed to perform sysctl.
type test_nosysctl_t;
domain_type(test_nosysctl_t)
unconfined_runs_test(test_nosysctl_t)
typeattribute test_nosysctl_t sysctldomain;
typeattribute test_nosysctl_t testdomain;

# Allow all of these domains to be entered from sysadm domain
# via /sbin/sysctl.
corecmd_bin_entry_type(sysctldomain)
sysadm_bin_spec_domtrans_to(sysctldomain)

# Allow the first domain to perform sysctl operations.
kernel_rw_all_sysctls(test_sysctl_t)

# Allow the second domain to search /proc/sys/kernel, but nothing more.
allow test_nosysctl_t sysctl_type:dir search;
