#################################
#
# Policy for testing execute_notrans permission
#

# Type for the execute_notrans program allowed to execute from the test domain.
type test_execute_notrans_allowed_t;
files_type(test_execute_notrans_allowed_t)

# Type for the execute_notrans program not allowed to execute 
# from the test domain.
type test_execute_notrans_denied_t;
files_type(test_execute_notrans_denied_t);

# Test domain that can only be entered via the types above.
type test_execute_notrans_t;
domain_type(test_execute_notrans_t);
unconfined_runs_test(test_execute_notrans_t)
typeattribute test_execute_notrans_t testdomain;

# Allow this domain to be entered via the shell.
corecmd_shell_entry_type(test_execute_notrans_t)
userdom_sysadm_entry_spec_domtrans_to(test_execute_notrans_t)

#Allow test_execute_notrans permissions to the allowed type
can_exec(test_execute_notrans_t,test_execute_notrans_allowed_t)
allow test_execute_notrans_t test_execute_notrans_denied_t:file mmap_file_perms;
