#########################################
#
# Policy for testing the selinux_task_getsid hook.
#

attribute test_getsid_d;

# Domain for the target process
type test_getsid_target_t;
domain_type(test_getsid_target_t)
unconfined_runs_test(test_getsid_target_t)
typeattribute test_getsid_target_t test_getsid_d;
typeattribute test_getsid_target_t testdomain;

# Domain that can get the target's session ID.
type test_getsid_yes_t;
domain_type(test_getsid_yes_t)
unconfined_runs_test(test_getsid_yes_t)
typeattribute test_getsid_yes_t test_getsid_d;
typeattribute test_getsid_yes_t testdomain;

# Domain that cannot get the target's session ID.
type test_getsid_no_t;
domain_type(test_getsid_no_t)
unconfined_runs_test(test_getsid_no_t)
typeattribute test_getsid_no_t test_getsid_d;
typeattribute test_getsid_no_t testdomain;

# Allow domain to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(test_getsid_d)
userdom_sysadm_entry_spec_domtrans_to(test_getsid_d)

# Give test_getsid_yes_t the permission needed.
allow test_getsid_yes_t test_getsid_target_t:process getsession;
