#################################
#
# Policy for testing entrypoint permission
#

# Type for the entrypoint program for the test domain.
type test_entrypoint_execute_t;
files_type(test_entrypoint_execute_t)

# Test domain that can only be entered via the type above.
type test_entrypoint_t;
domain_type(test_entrypoint_t)
unconfined_runs_test(test_entrypoint_t)
typeattribute test_entrypoint_t testdomain;

# Allow execution of true.
corecmd_exec_bin(test_entrypoint_t)

# Allow this domain to be entered via its entrypoint type.
domain_entry_file(test_entrypoint_t, test_entrypoint_execute_t)
userdom_sysadm_entry_spec_domtrans_to(test_entrypoint_t)

