#################################
#
# Policy for testing mkdir operation
#

attribute test_mkdir_domain;

# Type for top-level test directory in which the tests are performed.
type test_mkdir_dir_t;
files_type(test_mkdir_dir_t)

# Domain for process that has add_name permission to the test directory.
type test_addname_t;
domain_type(test_addname_t)
unconfined_runs_test(test_addname_t)
typeattribute test_addname_t test_mkdir_domain;
typeattribute test_addname_t testdomain;
allow test_addname_t test_mkdir_dir_t:dir { search getattr write add_name create };

# Domain for process that lacks add_name permission to the test directory.
type test_noaddname_t;
domain_type(test_noaddname_t)
unconfined_runs_test(test_noaddname_t)
typeattribute test_noaddname_t test_mkdir_domain;
typeattribute test_noaddname_t testdomain;
allow test_noaddname_t test_mkdir_dir_t:dir { search getattr write create };

# Domain for process that lacks search permission to the test directory.
type test_nosearch_t;
domain_type(test_nosearch_t)
unconfined_runs_test(test_nosearch_t)
typeattribute test_nosearch_t test_mkdir_domain;
typeattribute test_nosearch_t testdomain;
allow test_nosearch_t test_mkdir_dir_t:dir { getattr write add_name create };

# Type for a newly created subdirectory of the top-level test directory.
type test_create_dir_t;
files_type(test_create_dir_t)

# Domain for process that has add_name permission to the test directory and
# create permission to the new type.
type test_create_t;
domain_type(test_create_t)
unconfined_runs_test(test_create_t)
typeattribute test_create_t test_mkdir_domain;
typeattribute test_create_t testdomain;
domain_obj_id_change_exemption(test_create_t)
allow test_create_t test_mkdir_dir_t:dir { search getattr write add_name };
allow test_create_t test_create_dir_t:dir { search getattr write create };

# Domain for process that has add_name permission to the test directory but
# lacks create permission to the new type.
type test_nocreate_t;
domain_type(test_nocreate_t)
unconfined_runs_test(test_nocreate_t)
typeattribute test_nocreate_t test_mkdir_domain;
typeattribute test_nocreate_t testdomain;
domain_obj_id_change_exemption(test_nocreate_t)
allow test_nocreate_t test_mkdir_dir_t:dir { search getattr write add_name };
allow test_nocreate_t test_create_dir_t:dir { search getattr };

# Allow all of these domains to be entered from sysadm domain
corecmd_bin_entry_type(test_mkdir_domain)
sysadm_bin_spec_domtrans_to(test_mkdir_domain)
