#################################
# 
# Policy for testing tracing across an exec
#

# Domain for parent process.
type test_exectrace_parent_t, domain, exectracedomain, testdomain;
# Required for PTRACE_TRACEME.
allow test_exectrace_parent_t self:process ptrace;

# Domain for child process that can be traced across an exec by the parent.
type test_exectrace_child_t, domain, exectracedomain, testdomain;

# Domain for child process that cannot be traced across an exec by the parent.
type test_exectrace_notchild_t, domain, exectracedomain, testdomain;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, exectracedomain)

# Grant the necessary permissions for the child domain.
domain_trans(test_exectrace_parent_t, test_file_t, test_exectrace_child_t)
allow test_exectrace_parent_t test_exectrace_child_t:process { ptrace getattr };
allow test_exectrace_parent_t test_exectrace_child_t:dir search;
allow test_exectrace_parent_t test_exectrace_child_t:file read;
allow test_exectrace_parent_t test_exectrace_child_t:file read;

# Grant the notchild domain all the same permissions except for ptrace.
domain_trans(test_exectrace_parent_t, test_file_t, test_exectrace_notchild_t)
allow test_exectrace_parent_t test_exectrace_notchild_t:process getattr;
allow test_exectrace_parent_t test_exectrace_notchild_t:dir search;
allow test_exectrace_parent_t test_exectrace_notchild_t:file read;
allow test_exectrace_parent_t test_exectrace_notchild_t:file read;

