#################################
# 
# Policy for testing setnice permission
#

# Domain for process whose nice can be set.
type test_setnice_set_t, domain, setnicedomain, testdomain;

# Domain for process whose nice cannot be set.
type test_setnice_noset_t, domain, setnicedomain, testdomain;

# Domain for parent process.
type test_setnice_change_t, domain, setnicedomain, testdomain;

# Allow execution of helper programs.
can_exec_any(setnicedomain)

# Allow all of these domains to be entered from sysadm domain
# via a shell script in the test directory or by....
domain_trans(sysadm_t, test_file_t, setnicedomain)
domain_trans(test_setnice_change_t, test_file_t, {test_setnice_set_t test_setnice_noset_t})

allow test_setnice_change_t test_setnice_set_t:process setsched;
