#
# Declarations for type attributes for test domains.
# 

attribute testdomain;
attribute capabledomain;
attribute execsharedomain;
attribute exectracedomain;
attribute fdreceivedomain;
attribute fileopdomain;
attribute inheritdomain;
attribute ioctldomain;
attribute ipcdomain;
attribute test_link_domain;
attribute test_mkdir_domain;
attribute test_open_domain;
attribute ptracedomain;
attribute test_readlink_domain;
attribute test_relabel_domain;
attribute test_rename_domain;
attribute test_rxdir_domain;
attribute test_setattr_domain;
attribute setnicedomain;
attribute killdomain;
attribute socketdomain;
attribute test_stat_domain;
attribute sysctldomain;
attribute sysmiscdomain;
attribute test_create_d;
attribute test_getsched_d;
attribute test_getsid_d;
attribute test_setpgid_d;
attribute test_setsched_d;
attribute transitiondomain;
attribute waitdomain;
attribute test_getpgid_d;
attribute dyntracedomain;
attribute dyntransdomain;
