#################################
# 
# Policy for testing file operations
#

# Domain for process that is allowed to perform operations.
type test_fileop_t, privowner, domain, fileopdomain, testdomain;

# Domain for process that is not allowed to perform all operations.
type test_nofileop_t, domain, privowner, fileopdomain, testdomain;

# Type for temp test files
type fileop_file_t, file_type, sysadmfile;

# Type for executable test files 
type fileop_exec_t, file_type, exec_type, sysadmfile;

# Domain for running certain executables
type fileop_t, domain, fileopdomain, testdomain;

# Type for a temp file that the bad domain has read/write/append
type nofileop_rw_file_t, file_type, sysadmfile;

# Type for a temp file that the bad domain has only read/append access
type nofileop_ra_file_t, file_type, sysadmfile;

# Allow execution of helper programs.
can_exec_any(fileopdomain)

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, test_file_t, fileopdomain)
domain_trans(sysadm_t, bin_t, fileopdomain)
domain_trans(sysadm_t, sbin_t, fileopdomain)
domain_auto_trans(test_fileop_t, fileop_exec_t, fileop_t)
domain_auto_trans(test_nofileop_t, fileop_exec_t, fileop_t)
ifdef(`fsadm.te', `
domain_trans(sysadm_t, fsadm_exec_t, fileopdomain)
', `
')

# Allow the sysadm domain to create/remove a temporary file. 
allow sysadm_t fileop_file_t:file rw_file_perms;
allow sysadm_t fileop_file_t:file { unlink };
allow sysadm_t nofileop_rw_file_t:file rw_file_perms;
allow sysadm_t nofileop_rw_file_t:file { unlink };
allow sysadm_t nofileop_ra_file_t:file rw_file_perms;
allow sysadm_t nofileop_ra_file_t:file { unlink };
allow sysadm_t fileop_exec_t:file { unlink write };

# Permissions for the 'good' domain...
allow test_fileop_t fileop_file_t:file { setattr rw_file_perms};
allow test_fileop_t fileop_file_t:file { execute relabelfrom relabelto };
allow test_fileop_t fileop_t:process { signal };
allow test_fileop_t initrc_devpts_t:chr_file { rw_file_perms };
allow test_fileop_t initrc_t:fd use;

# Permissions for the 'bad' domain...
allow test_nofileop_t nofileop_rw_file_t:file { read write append relabelfrom };
allow test_nofileop_t nofileop_ra_file_t:file { read append };
allow test_nofileop_t fileop_file_t:file { relabelto };
