#################################
# 
# Policy for testing ptrace call
#

# Domain for process that is allowed to trace.
type test_ptrace_tracer_t, domain, ptracedomain, testdomain;
allow test_ptrace_tracer_t self:capability sys_ptrace;

# Domain for process that is not allowed to trace.
type test_ptrace_nottracer_t, domain, ptracedomain, testdomain;
allow test_ptrace_nottracer_t self:capability sys_ptrace;

# Domain for process that is to be traced.
type test_ptrace_traced_t, domain, ptracedomain, testdomain;

# Allow the tracer domain to trace the traced domain.
allow test_ptrace_tracer_t test_ptrace_traced_t:process ptrace;

# Let the tracer wait on the traced domain.
allow test_ptrace_traced_t test_ptrace_tracer_t:process sigchld;

# Allow all of these domains to be entered from the sysadm domains.
# via a program in the test directory.
domain_trans(sysadm_t, test_file_t, ptracedomain)



