#########################################
# 
# Policy for testing the selinux_task_create hook
#


# Domain for process allowed to fork.

type test_create_yes_t, domain, test_create_d, testdomain;


# Domain for process not allowed to fork.
# The same permissions as test_create_yes_t, except process fork

type test_create_no_t, domain, test_create_d;

allow test_create_no_t self:process ~fork;
allow test_create_no_t proc_t:dir r_dir_perms;
allow test_create_no_t proc_t:lnk_file read;
allow test_create_no_t self:dir r_dir_perms;
allow test_create_no_t self:notdevfile_class_set r_file_perms;
uses_shlib(test_create_no_t)
can_setexec(test_create_no_t)
allow test_create_no_t { root_t bin_t sbin_t lib_t locale_t usr_t devpts_t home_root_t home_type }:dir r_dir_perms;
allow test_create_no_t lib_t:lnk_file r_file_perms;
allow test_create_no_t { devtty_t null_device_t zero_device_t }:chr_file rw_file_perms;
allow test_create_no_t locale_t:dir r_dir_perms;
allow test_create_no_t locale_t:{ file lnk_file } r_file_perms;
allow test_create_no_t privfd:fd use;
allow test_create_no_t sysadm_devpts_t:chr_file rw_file_perms;
allow test_create_no_t sysadm_tty_device_t:chr_file rw_file_perms;

# General rules for the test_create_d

# Allow domain to be entered from the sysadm domain.
role sysadm_r types test_create_d;
role system_r types test_create_d;
domain_trans(sysadm_t, test_file_t, test_create_d)

