#################################
# 
# Policy for testing sysctl permission
#

# Domain for process that is allowed to perform sysctl.
type test_sysctl_t, domain, sysctldomain, testdomain, admin;

# Domain for process that is not allowed to perform sysctl.
type test_nosysctl_t, domain, sysctldomain, testdomain;

# Allow all of these domains to be entered from sysadm domain
# via /sbin/sysctl.
domain_trans(sysadm_t, sbin_t, sysctldomain)

# Allow the first domain to perform sysctl operations.
can_sysctl(test_sysctl_t)

# Allow the second domain to search /proc/sys/kernel, but nothing more.
allow test_nosysctl_t sysctl_t:dir search;
allow test_nosysctl_t sysctl_kernel_t:dir search;
