#################################
# 
# Policy for testing ioctl permission
#

# Domain for process that is allowed to perform ioctl.
type test_ioctl_t, domain, ioctldomain, testdomain;

# Domain for process that is not allowed to perform ioctl.
type test_noioctl_t, domain, ioctldomain, testdomain;

# Type for temp test files
type test_ioctl_file_t, file_type, sysadmfile;

# Allow execution of helper programs.
can_exec_any(ioctldomain)

# Allow all of these domains to be entered from sysadm domain
# via a shell script in the test directory or by....
domain_trans(sysadm_t, test_file_t, ioctldomain)
domain_trans(sysadm_t, bin_t, ioctldomain)

# Allow the test domains some access to the temp file
allow test_ioctl_t test_ioctl_file_t:file { read getattr setattr ioctl };
allow test_noioctl_t test_ioctl_file_t:file { read };
