#################################
# 
# Policy for testing system related capabilities. The test_capable_file.te
# policy is a prequisite for this file.
#

# Type for process that is allowed certain capabilities
type test_scap_t, domain, capabledomain, testdomain;

# Domain for process that has no capability
type test_noscap_t, domain, capabledomain, testdomain;

# Permissions for the good domain
allow test_scap_t self:capability { sys_rawio sys_chroot sys_admin sys_nice };

