#################################
# 
# Policy for testing file descriptor transfer via socket IPC
#

# Type for test file.  
type test_fdreceive_file_t, file_type, sysadmfile;

# Type for second test file.  
type test_fdreceive_file2_t, file_type, sysadmfile;

# Domain for client process.
type test_fdreceive_client_t, domain, fdreceivedomain, testdomain;

# Domain for second client process.
type test_fdreceive_client2_t, domain, fdreceivedomain, testdomain;

# Domain for server process.  
# Can receive fds from client, not from client2.
# Can access test file, not second test file.
type test_fdreceive_server_t, domain, fdreceivedomain, testdomain;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, fdreceivedomain)

# Grant the necessary permissions for the server domain.
## Create the Unix domain socket file.
allow test_fdreceive_server_t test_file_t:dir rw_dir_perms;
allow test_fdreceive_server_t test_file_t:sock_file create_file_perms;
## Use fds created by the client domain.
allow test_fdreceive_server_t test_fdreceive_client_t:fd use;
## Access the test file.
allow test_fdreceive_server_t test_fdreceive_file_t:file rw_file_perms;

# Grant the necessary permissions for the client domain.
## Open the test files.
allow test_fdreceive_client_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client_t test_file_t:sock_file rw_file_perms;
## Connect to the server domain.
allow test_fdreceive_client_t test_fdreceive_server_t:unix_stream_socket connectto;

# Grant the necessary permissions for the client2 domain.
## Open the test files.
allow test_fdreceive_client2_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client2_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client2_t test_file_t:sock_file rw_file_perms;
## Connect to the server domain.
allow test_fdreceive_client2_t test_fdreceive_server_t:unix_stream_socket connectto;

