#################################
# 
# Policy for testing process transition permission
#

# Domain for process that is allowed to transition to the new domain.
type test_transition_fromdomain_t, domain, transitiondomain, testdomain;

# Domain for process that is not allowed to transition to the new domain.
type test_transition_notfromdomain_t, domain, transitiondomain, testdomain;

# New domain for the process after the transition.
type test_transition_todomain_t, domain, transitiondomain, testdomain;

# Allow the fromdomain to transition to the new domain.
domain_trans(test_transition_fromdomain_t,bin_t,test_transition_todomain_t)

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, bin_t, transitiondomain)

