#################################
# 
# Policy for testing file related capabilities. This policy file is the
# start of capable-related policies and will contain general as well as
# file specific permissions.
#

# Type for processes that is allowed certain capabilities
type test_fcap_t, domain, capabledomain, testdomain;

# Domain for processes that has restricted capability
type test_resfcap_t, domain, capabledomain, testdomain;

# Another domain for processes that has restricted capability
type test_res2fcap_t, domain, capabledomain, testdomain;

# Domain for process that has no capability
type test_nofcap_t, domain, capabledomain, testdomain;

# Allow execution of helper programs.
can_exec_any(capabledomain)

# Allow all of these domains to be entered from admin roles.
domain_trans(sysadm_t, test_file_t, capabledomain)
domain_trans(sysadm_t, bin_t, capabledomain)
ifdef(`su.te', `
domain_trans(sysadm_t, su_exec_t, capabledomain)
', `
')

# Allow these domains to create a temporay file.
allow capabledomain test_file_t:file { setattr rw_file_perms };
allow capabledomain test_file_t:chr_file { create };
allow capabledomain test_file_t:dir { setattr rw_dir_perms };

# Allow the sysadm domain to remove the temporary special file.
allow sysadm_t test_file_t:chr_file { unlink };

# Permissions for the good domain
allow test_fcap_t self:capability { dac_override chown fowner fsetid lease setuid mknod };

# Permissions for the first restricted domain
allow test_resfcap_t self:capability { dac_override fowner setuid };

# Permissions for the second restricted domain
allow test_res2fcap_t self:capability { dac_read_search };
