# test_global.te
#
# Rules that apply to most test domains.
#

#
# This test policy uses the can_setcon macro which is not defined in global 
# macros of Red Hat Enterprise Linux 4 selinux policy targeted sources, so we
# define it here as a workaround.
#

##################################
#
# can_setcon(domain)
#
# Authorize a domain to set its current context
# (via /proc/pid/attr/current).
#
define(`can_setcon',`
allow $1 self:process setcurrent;
allow $1 proc_t:dir search;
allow $1 proc_t:{ file lnk_file } read;
allow $1 self:dir search;
allow $1 self:file { getattr read write };
')


# Note:  test_file_t is declared in types/file.te in the example policy.

# Authorize sysadm_r and system_r for the test domains.
# Note that the domain transition rules from sysadm_t are not here, as
# not all test domains have the same entrypoint type (in particular,
# to test the entrypoint permission), and not all test domains are
# directly entered from sysadm_t (e.g. some test domains are entered
# from another test domain).
role sysadm_r types testdomain;
role system_r types testdomain;

# Allow the test domains to access the sysadm terminal.
allow testdomain sysadm_devpts_t:chr_file rw_file_perms;
allow testdomain sysadm_tty_device_t:chr_file rw_file_perms;

# Allow the test domains to access the test directory and files
# even if they are not root owned.
allow testdomain self:capability { dac_override dac_read_search };

# Let sysadm_t execute test files.
can_exec(sysadm_t, test_file_t)

# Let sysadm_t use runcon to run the test programs in various domains.
can_setexec(sysadm_t)

# Let all test domains read test directories and files.
allow testdomain test_file_t:dir r_dir_perms;
allow testdomain test_file_t:file r_file_perms;

# Let the test domains set their current, exec and fscreate contexts.
can_setcon(testdomain)
can_setexec(testdomain)
can_setfscreate(testdomain)

# General permissions commonly required for test operation.
general_domain_access(testdomain)
uses_shlib(testdomain)
allow testdomain proc_t:file { getattr read };
allow testdomain { root_t etc_t var_t var_run_t device_t bin_t sbin_t lib_t locale_t usr_t devpts_t home_root_t home_type }:dir r_dir_perms;
allow testdomain lib_t:{ file lnk_file } r_file_perms;
allow testdomain etc_t:file r_file_perms;
allow testdomain { devtty_t null_device_t zero_device_t }:chr_file rw_file_perms;
allow testdomain random_device_t:chr_file read;
allow testdomain locale_t:dir r_dir_perms;
allow testdomain locale_t:{ file lnk_file } r_file_perms;
allow testdomain privfd:fd use;
allow testdomain tmp_t:dir r_dir_perms;

r_dir_file(testdomain, selinux_config_t)
can_getsecurity(testdomain)
