#########################################
# 
# Policy for testing the selinux_task_setnice and 
# selinux_task_setscheduler hooks.
#


# Domain for the target process
type test_setsched_target_t, domain, test_setsched_d, testdomain;

# Domain that can change the target's priority and scheduling policy.
type test_setsched_yes_t, domain, test_setsched_d, testdomain;

# Domain that cannot change the target's priority or scheduling policy.
type test_setsched_no_t, domain, test_setsched_d, testdomain;

# Allow domain to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, test_setsched_d)

# Allow these domains to execute renice.
allow test_setsched_d bin_t:file rx_file_perms;
allow test_setsched_d bin_t:file entrypoint;

# Give these domains the capability needed to change the target.
allow test_setsched_d self:capability sys_nice;

# Give test_setsched_yes_t the permission needed to change the target.
allow test_setsched_yes_t test_setsched_target_t:process setsched;

