#################################
# 
# Policy for testing network related capabilities. The test_capable_file.te
# policy is a prequisite for this file.
#

# Type for process that is allowed certain capabilities
type test_ncap_t, domain, capabledomain, testdomain;

# Domain for process that has restricted capability
type test_resncap_t, domain, capabledomain, testdomain;

# Allow access to the network - all permissions is fine, we're testing 
# capabilities here.
can_network(capabledomain)
allow capabledomain reserved_port_t:tcp_socket name_bind;

# Allow all of these domains to be entered from admin via certain utils.
domain_trans(sysadm_t, sbin_t, capabledomain)
ifdef(`ifconfig.te', `
domain_trans(sysadm_t, ifconfig_exec_t, capabledomain)
' , `
')

# Permissions for the good domain
allow test_ncap_t self:capability { dac_override net_admin net_bind_service net_raw };
allow test_ncap_t self:rawip_socket { create };

# Permissions for the restricted domain
allow test_resncap_t self:rawip_socket { create };
