CVS
*~
*.o
*.obj
*.gdb
lib*.a

/aclocal.m4
autom4te.cache
/configure
/config.guess
/config.log
/config.mk
/config.status
/config.sub
/install-sh
/missing
/include/config.h
/include/config.h.in
/include/stamp-h1
/m4/Makefile
/m4/Makefile.in

/execltp
/ltp-devel.spec
/README.ltp-devel
/Version
/include/mk/config.mk
/include/mk/features.mk
/m4/ltp-version.m4
/lib/ltp.pc
/pan/ltp-bump
/pan/ltp-pan
/pan/ltp-scanner
/tools/gethost
/tools/rand_lines

.gitattributes
.pc/
patches/
*.diff
*.patch
*.rej
*.orig
