CVS
.*.swp
*~
*.o
*.o.d
*.obj
*.gdb
core
.gdb_history
.gdbinit
lib*.a
.cache.mk
*.dwo
*.mod
built-in.a

/aclocal.m4
autom4te.cache
/compile
/configure
/config.cache
/config.guess
/config.log
/config.mk
/config.status
/config.sub
/conf*/
/install-sh
/missing
/include/config.h
/include/config.h.in
/include/stamp-h1
/m4/Makefile
/m4/Makefile.in

/tags
/Version
/include/mk/config.mk
/include/mk/config-openposix.mk
/include/mk/features.mk
/m4/ltp-version.m4
/pan/ltp-bump
/pan/ltp-pan

cscope.*
ncscope.*

.dep_modules
.gitattributes
.pc/
patches/
*.diff
*.patch
*.rej
*.orig
*.eml

*.run-test
*.test
logfile.*

/utils/benchmark/ebizzy-0.3/ebizzy
