[submodule "testcases/kernel/mce-test"]
	path = testcases/kernel/mce-test
	url = git://git.kernel.org/pub/scm/linux/kernel/git/gong.chen/mce-test.git
[submodule "tools/sparse/sparse-src"]
	path = tools/sparse/sparse-src
	url = git://git.kernel.org/pub/scm/devel/sparse/sparse.git
[submodule "tools/runltp-ng"]
	path = tools/runltp-ng
	url = https://github.com/linux-test-project/runltp-ng.git
