### OpenHPI client library configuration example file ###

#######
## Section: Domains
##          Since each openhpi daemon instance manages a hpi domain, 
#           each domain declaration specifies domain number, hpi daemon host and hpi daemon port.
#
## Example domain declarations:
#
#domain default {                        # Has to be string "default", no quote.
#                                        # Number 0 is not allowed.
#       host = "my_default_domain_host"  # String value. Double quotes required.
#       port = my_defaultdomain_port     # Interger value
#}
#                                        # If no "default" stanza is declared, 
#                                        #  host = "localhost" and port = 4743
#                                        #  are used.
#                                        #
#domain 1 {
#	host = "my_domain1_host"   # String value. Double quotes required.
#	port = my_domain1_port     # Interger value 
#}

#domain 2 {
#	host = "my_domain2_host"   # String value. Double quotes required.
#	port = my_domain2_port     # Interger value
#}

#domain 3 {
#	host = "my_domain3_host"   # String value. Double quotes required.
#	port = my_domain3_port     # Interger value
#}

