/abs/abs01
/atof/atof01
/float/bessel/genbessel
/float/bessel/genj0
/float/bessel/genj1
/float/bessel/genlgamma
/float/bessel/geny0
/float/bessel/geny1
/float/exp_log/genexp
/float/exp_log/genexp_log
/float/exp_log/genfrexp
/float/exp_log/genhypot
/float/exp_log/genldexp
/float/exp_log/genlog
/float/exp_log/genlog10
/float/exp_log/genmodf
/float/float_bessel
/float/float_exp_log
/float/float_iperb
/float/float_power
/float/float_trigo
/float/iperb/gencosh
/float/iperb/geniperb
/float/iperb/gensinh
/float/iperb/gentanh
/float/power/genceil
/float/power/genfabs
/float/power/genfloor
/float/power/genfmod
/float/power/genpow
/float/power/genpower
/float/power/gensqrt
/float/trigo/genacos
/float/trigo/genasin
/float/trigo/genatan
/float/trigo/genatan2
/float/trigo/gencos
/float/trigo/gensin
/float/trigo/gentan
/float/trigo/gentrigo
/fptests/fptest01
/fptests/fptest02
/nextafter/nextafter01
