#################################
# 
# Policy for testing file descriptor inheritance
#

# Domain for parent process.
type test_inherit_parent_t, domain, inheritdomain, testdomain;

# Type for test file opened by parent, inherited by child.
type test_inherit_file_t, file_type, sysadmfile;

# Domain for child process that can inherit r/w fd to test file from parent.
type test_inherit_child_t, domain, inheritdomain, testdomain;

# Domain for child process that cannot inherit from parent due to lack
# of fd use permission.
type test_inherit_nouse_t, domain, inheritdomain, testdomain;

# Domain for child process that cannot inherit r/w fd to test file
# due to lack of file write permission.
type test_inherit_nowrite_t, domain, inheritdomain, testdomain;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, inheritdomain)

# Grant the necessary permissions for the parent domain.
allow test_inherit_parent_t test_inherit_file_t:file rw_file_perms;

# Grant the necessary permissions for the child domain.
domain_trans(test_inherit_parent_t, test_file_t, test_inherit_child_t)
allow test_inherit_child_t test_inherit_file_t:file rw_file_perms;

# Grant the nouse domain all of the same permissions except for fd use.
allow test_inherit_parent_t test_inherit_nouse_t:process transition;
allow test_inherit_nouse_t test_file_t:file { read getattr execute entrypoint };
allow test_inherit_nouse_t test_inherit_file_t:file rw_file_perms;

# Grant the nowrite domain all of the same permissions except for file write.
domain_trans(test_inherit_parent_t, test_file_t, test_inherit_nowrite_t)
allow test_inherit_nowrite_t test_inherit_file_t:file r_file_perms;

