#########################################
# 
# Policy for testing the selinux_task_getpgid hook.
#


# Domain for the target process
type test_getpgid_target_t, domain, test_getpgid_d, testdomain;

# Domain that can get the target's process group ID.
type test_getpgid_yes_t, domain, test_getpgid_d, testdomain;

# Domain that cannot get the target's process group ID.
type test_getpgid_no_t, domain, test_getpgid_d, testdomain;


# Allow domain to be entered from the sysadm domain
domain_trans(sysadm_t, test_file_t, test_getpgid_d)

# Give test_getpgid_yes_t the permission needed.
allow test_getpgid_yes_t test_getpgid_target_t:process getpgid;

