#################################
# 
# Policy for testing setattr operations
#

# Types for test file.
type test_setattr_file_t, file_type, sysadmfile;

# Domain for process that can set attributes on the test file.
type test_setattr_t, domain, test_setattr_domain, testdomain;
allow test_setattr_t self:capability chown;
allow test_setattr_t test_setattr_file_t:file { getattr setattr write };

# Domain for process that cannot set attributes on the test file.
type test_nosetattr_t, domain, test_setattr_domain, testdomain;
allow test_nosetattr_t self:capability chown;
allow test_nosetattr_t test_setattr_file_t:file { getattr write };

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, bin_t, test_setattr_domain)

