#################################
# 
# Policy for testing process dyntrans permission
#

# Domain for process that is allowed to transition to the new domain.
type test_dyntrans_fromdomain_t, domain, dyntransdomain, testdomain;

# Domain for process that is not allowed to transition to the new domain.
type test_dyntrans_notfromdomain_t, domain, dyntransdomain, testdomain;

# New domain for the process after the transition.
type test_dyntrans_todomain_t, domain, dyntransdomain, testdomain;

# Allow the fromdomain to dyntrans to the new domain.
allow test_dyntrans_fromdomain_t test_dyntrans_todomain_t:process dyntransition;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, dyntransdomain)

