#################################
# 
# Policy for testing relabel (chsid) operations
#

# Original and new types for the test file.
type test_relabel_oldtype_t, file_type, sysadmfile;
type test_relabel_newtype_t, file_type, sysadmfile;

# Domain for process that can relabel the test file.
type test_relabel_t, domain, test_relabel_domain, privowner, testdomain;
allow test_relabel_t test_relabel_oldtype_t:file { getattr relabelfrom };
allow test_relabel_t test_relabel_newtype_t:file { getattr relabelto };

# Domain for process that lacks relabelfrom permission to the old type.
type test_norelabelfrom_t, domain, test_relabel_domain, privowner, testdomain;
allow test_norelabelfrom_t test_relabel_oldtype_t:file { getattr };
allow test_norelabelfrom_t test_relabel_newtype_t:file { getattr relabelto };

# Domain for process that lacks relabelto permission to the new type.
type test_norelabelto_t, domain, test_relabel_domain, privowner, testdomain;
allow test_norelabelto_t test_relabel_oldtype_t:file { getattr relabelfrom };
allow test_norelabelto_t test_relabel_newtype_t:file { getattr };

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, bin_t, test_relabel_domain)


