/* set multiline tables cells */
.wy-table-responsive table td {
    white-space: normal;
}

/* remove margin for multiline cells */
.rst-content table td div.line-block,
.rst-content table td ul {
    margin-bottom: 0;
}

/* monospace and disable italic for C code, files and man pages */
a.extlink-master, a.extlink-kernel_tree, a.extlink-kselftest, a.extlink-shell_lib, a.manpage, .std.std-ref {
    font-style: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
}
