dn: cn=Barbara Jensen, ou=Information Technology Division, ou=People, o=Univer
 sity of Michigan, c=US
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: newPilotPerson
cn: Barbara Jensen
cn: Babs Jensen
sn: Jensen
title: Mythical Manager, Research Systems
postaladdress: ITD Prod Dev & Deployment $ 535 W. William St. Room 4212 $ Ann 
 Arbor, MI 48103-4943
seealso: cn=All Staff, ou=Groups, o=University of Michigan, c=US
userpassword:: YmplbnNlbg==
mail: bjensen@mailgw.umich.edu
homepostaladdress: 123 Wesley $ Ann Arbor, MI 48103
description: Mythical manager of the rsdd unix project
drink: water
homephone: +1 313 555 2333
pager: +1 313 555 3233
facsimiletelephonenumber: +1 313 555 2274
telephonenumber: +1 313 555 9022

dn: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: newPilotPerson
cn: Bjorn Jensen
cn: Biiff Jensen
sn: Jensen
seealso: cn=All Staff, ou=Groups, o=University of Michigan, c=US
userpassword:: Ympvcm4=
homepostaladdress: 19923 Seven Mile Rd. $ South Lyon, MI 49999
drink: Iced Tea
description: Hiker, biker
title: Director, Embedded Systems
postaladdress: Info Tech Division $ 535 W. William St. $ Ann Arbor, MI 48103
mail: bjorn@mailgw.umich.edu
homephone: +1 313 555 5444
pager: +1 313 555 4474
facsimiletelephonenumber: +1 313 555 2177
telephonenumber: +1 313 555 0355

dn: cn=All Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Barbara Jensen, ou=Information Technology Division, ou=People, o=Un
 iversity of Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=John Doe, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 2, ou=Information Technology Division, ou=People, o=U
 niversity of Michigan, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Univ
 ersity of Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
cn: All Staff
description: Everyone in the sample data
objectclass: groupofnames

dn: cn=Alumni Assoc Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
description: All Alumni Assoc Staff
cn: Alumni Assoc Staff
objectclass: groupofnames

dn: cn=ITD Staff,ou=Groups,o=University of Michigan,c=US
owner: cn=Manager, o=University of Michigan, c=US
description: All ITD Staff
cn: ITD Staff
objectclass: groupofnames
member: cn=Manager, o=University of Michigan, c=US
member: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Univ
 ersity of Michigan, c=US
member: cn=James A Jones 2, ou=Information Technology Division, ou=People, o=U
 niversity of Michigan, c=US
member: cn=John Doe, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US

dn: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: newPilotPerson
cn: James A Jones 1
cn: James Jones
cn: Jim Jones
sn: Jones
postaladdress: Alumni Association $ 111 Maple St $ Ann Arbor, MI 48109
seealso: cn=All Staff, ou=Groups, o=University of Michigan, c=US
userpassword:: amFq
homepostaladdress: 3882 Beverly Rd. $ Ann Arbor, MI 48105
homephone: +1 313 555 4772
description: Outstanding
title: Mad Cow Researcher, UM Alumni Association
pager: +1 313 555 3923
mail: jaj@mail.alumni.umich.edu
facsimiletelephonenumber: +1 313 555 4332
telephonenumber: +1 313 555 0895

dn: cn=All Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Barbara Jensen, ou=Information Technology Division, ou=People, o=Un
 iversity of Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=John Doe, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 2, ou=Information Technology Division, ou=People, o=U
 niversity of Michigan, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Univ
 ersity of Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
cn: All Staff
description: Everyone in the sample data
objectclass: groupofnames

dn: cn=Alumni Assoc Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
description: All Alumni Assoc Staff
cn: Alumni Assoc Staff
objectclass: groupofnames

dn: cn=All Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Barbara Jensen, ou=Information Technology Division, ou=People, o=Un
 iversity of Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=John Doe, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 2, ou=Information Technology Division, ou=People, o=U
 niversity of Michigan, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Univ
 ersity of Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
cn: All Staff
description: Everyone in the sample data
objectclass: groupofnames

dn: cn=Alumni Assoc Staff,ou=Groups,o=University of Michigan,c=US
member: cn=Manager, o=University of Michigan, c=US
member: cn=Dorothy Stevens, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=James A Jones 1, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
member: cn=Jane Doe, ou=Alumni Association, ou=People, o=University of Michiga
 n, c=US
member: cn=Jennifer Smith, ou=Alumni Association, ou=People, o=University of M
 ichigan, c=US
member: cn=Mark Elliot, ou=Alumni Association, ou=People, o=University of Mich
 igan, c=US
member: cn=Ursula Hampster, ou=Alumni Association, ou=People, o=University of 
 Michigan, c=US
owner: cn=Manager, o=University of Michigan, c=US
description: All Alumni Assoc Staff
cn: Alumni Assoc Staff
objectclass: groupofnames

dn: ou=Alumni Association, ou=People, o=University of Michigan, c=US
objectclass: top
objectclass: organizationalUnit
ou: Alumni Association

dn: ou=Groups, o=University of Michigan, c=US
objectclass: top
objectclass: organizationalUnit
ou: Groups

dn: ou=Information Technology Division, ou=People, o=University of Michigan, c
 =US
objectclass: top
objectclass: organizationalUnit
ou: Information Technology Divisio

dn: cn=ITD Staff,ou=Groups,o=University of Michigan,c=US
owner: cn=Manager, o=University of Michigan, c=US
description: All ITD Staff
cn: ITD Staff
objectclass: groupofnames
member: cn=Manager, o=University of Michigan, c=US
member: cn=Bjorn Jensen, ou=Information Technology Division, ou=People, o=Univ
 ersity of Michigan, c=US
member: cn=James A Jones 2, ou=Information Technology Division, ou=People, o=U
 niversity of Michigan, c=US
member: cn=John Doe, ou=Information Technology Division, ou=People, o=Universi
 ty of Michigan, c=US

dn: ou=People, o=University of Michigan, c=US
objectclass: top
objectclass: organizationalUnit
ou: People

dn: o=University of Michigan, c=US
objectclass: top
objectclass: organization
objectclass: domainRelatedObject
l: Ann Arbor, Michigan
st: Michigan
o: University of Michigan
o: UMICH
o: UM
o: U-M
o: U of M
description: The University of Michigan at Ann Arbor
postaladdress: University of Michigan $ 535 W. William St. $ Ann Arbor, MI 481
 09 $ US
telephonenumber: +1 313 764-1817
associateddomain: umich.edu

