# Use the same sphinx as on readthedocs.org. When updated, make sure
# sphinx-rtd-theme is compatible with sphinx.
sphinx==7.2.6
sphinx-rtd-theme==2.0.0

linuxdoc==20240924
sphinxcontrib-spelling==7.7.0

# workaround for linuxdoc <= 20240924
setuptools==81.0.0
