# Use the same sphinx as on readthedocs.org. When updated, make sure
# sphinx-rtd-theme is compatible with sphinx.
sphinx==8.2.3
sphinx-rtd-theme==3.1.0

linuxdoc==20260504
sphinxcontrib-spelling==8.0.2
