/cpuset/cpuset01
/hugetlb/hugefallocate/hugefallocate01
/hugetlb/hugefallocate/hugefallocate02
/hugetlb/hugefork/hugefork01
/hugetlb/hugemmap/hugemmap01
/hugetlb/hugemmap/hugemmap02
/hugetlb/hugemmap/hugemmap04
/hugetlb/hugemmap/hugemmap05
/hugetlb/hugemmap/hugemmap06
/hugetlb/hugemmap/hugemmap07
/hugetlb/hugemmap/hugemmap08
/hugetlb/hugemmap/hugemmap09
/hugetlb/hugemmap/hugemmap10
/hugetlb/hugemmap/hugemmap11
/hugetlb/hugemmap/hugemmap12
/hugetlb/hugemmap/hugemmap13
/hugetlb/hugemmap/hugemmap14
/hugetlb/hugemmap/hugemmap15
/hugetlb/hugemmap/hugemmap16
/hugetlb/hugemmap/hugemmap17
/hugetlb/hugemmap/hugemmap18
/hugetlb/hugemmap/hugemmap19
/hugetlb/hugemmap/hugemmap20
/hugetlb/hugemmap/hugemmap21
/hugetlb/hugemmap/hugemmap22
/hugetlb/hugemmap/hugemmap23
/hugetlb/hugemmap/hugemmap25
/hugetlb/hugemmap/hugemmap26
/hugetlb/hugemmap/hugemmap27
/hugetlb/hugeshmat/hugeshmat01
/hugetlb/hugeshmat/hugeshmat02
/hugetlb/hugeshmat/hugeshmat03
/hugetlb/hugeshmat/hugeshmat04
/hugetlb/hugeshmat/hugeshmat05
/hugetlb/hugeshmctl/hugeshmctl01
/hugetlb/hugeshmctl/hugeshmctl02
/hugetlb/hugeshmctl/hugeshmctl03
/hugetlb/hugeshmdt/hugeshmdt01
/hugetlb/hugeshmget/hugeshmget01
/hugetlb/hugeshmget/hugeshmget02
/hugetlb/hugeshmget/hugeshmget03
/hugetlb/hugeshmget/hugeshmget05
/ksm/ksm01
/ksm/ksm02
/ksm/ksm03
/ksm/ksm04
/ksm/ksm05
/ksm/ksm06
/mem/mem02
/mmapstress/mmap-corruption01
/mmapstress/mmapstress01
/mmapstress/mmapstress02
/mmapstress/mmapstress03
/mmapstress/mmapstress04
/mmapstress/mmapstress05
/mmapstress/mmapstress06
/mmapstress/mmapstress07
/mmapstress/mmapstress08
/mmapstress/mmapstress09
/mmapstress/mmapstress10
/mtest01/mtest01
/mtest05/mmstress_dummy
/mtest05/mmstress
/mtest06/mmap1
/mtest06/mmap2
/mtest06/mmap3
/mtest06/shmat1
/mtest07/mallocstress
/mtest07/shm_test
/oom/oom01
/oom/oom02
/oom/oom03
/oom/oom04
/oom/oom05
/page/page01
/page/page02
/shmt/shmt02
/shmt/shmt03
/shmt/shmt04
/shmt/shmt05
/shmt/shmt06
/shmt/shmt07
/shmt/shmt08
/shmt/shmt09
/shmt/shmt10
/swapping/swapping01
/thp/thp01
/thp/thp02
/thp/thp03
/thp/thp04
/tunable/max_map_count
/tunable/min_free_kbytes
/tunable/overcommit_memory
/vma/vma01
/vma/vma02
/vma/vma03
/vma/vma04
/vma/vma05_vdso
/vmtests/data_space
/vmtests/stack_space
