#################################
#
# Policy for testing stat operations
#

attribute test_stat_domain;

# Types for test file.
type test_stat_file_t;
files_type(test_stat_file_t)

# Domain for process that can get attributes on the test file.
type test_stat_t;
domain_type(test_stat_t)
typeattribute test_stat_t test_stat_domain;
typeattribute test_stat_t testdomain;
allow test_stat_t test_stat_file_t:file getattr;

# Domain for process that cannot set attributes on the test file.
type test_nostat_t;
domain_type(test_nostat_t)
typeattribute test_nostat_t test_stat_domain;
typeattribute test_nostat_t testdomain;

# TODO: what is a replacement for this in refpolicy???
# Allow all of these domains to be entered from sysadm domain
require {
	type ls_exec_t;
}
domain_trans(sysadm_t, ls_exec_t, test_stat_domain)
domain_entry_file(test_stat_domain, ls_exec_t)
