
## <summary>test_policy policy</summary>
## <desc>
##      <p>
##              More descriptive text about test_policy.  The <desc>
##              tag can also use <p>, <ul>, and <ol>
##              html tags for formatting.
##      </p>
##      <p>
##              This policy supports the following test_policy features:
##              <ul>
##              <li>Feature A</li>
##              <li>Feature B</li>
##              <li>Feature C</li>
##              </ul>
##      </p>
## </desc>
#

########################################
## <summary>
##      Execute a domain transition to run test_policy.
## </summary>
## <param name="domain">
##      Domain allowed to transition.
## </param>
#
