#################################
#
# Policy for testing setattr operations
#

attribute test_setattr_domain;

# Types for test file.
type test_setattr_file_t;
files_type(test_setattr_file_t)

# Domain for process that can set attributes on the test file.
type test_setattr_t;
domain_type(test_setattr_t)
typeattribute test_setattr_t test_setattr_domain;
typeattribute test_setattr_t testdomain;
allow test_setattr_t self:capability chown;
allow test_setattr_t test_setattr_file_t:file { getattr setattr write };

# Domain for process that cannot set attributes on the test file.
type test_nosetattr_t;
domain_type(test_nosetattr_t)
typeattribute test_nosetattr_t test_setattr_domain;
typeattribute test_nosetattr_t testdomain;
allow test_nosetattr_t self:capability chown;
allow test_nosetattr_t test_setattr_file_t:file { getattr write };

# Allow all of these domains to be entered from sysadm domain
corecmd_bin_entry_type(test_setattr_domain)
userdom_sysadm_bin_spec_domtrans_to(test_setattr_domain)

