#################################
#
# Policy for testing the task_kill hook
#

attribute killdomain;

# Domain for process that receives the signals.
type test_kill_server_t;
domain_type(test_kill_server_t)
typeattribute test_kill_server_t killdomain;
typeattribute test_kill_server_t testdomain;

# Domain for process that is allowed to send sigkill.
type test_kill_sigkill_t;
domain_type(test_kill_sigkill_t)
typeattribute test_kill_sigkill_t killdomain;
typeattribute test_kill_sigkill_t testdomain;
allow test_kill_sigkill_t test_kill_server_t:process sigkill;

# Domain for process that is allowed to send sigstop.
type test_kill_sigstop_t;
domain_type(test_kill_sigstop_t)
typeattribute test_kill_sigstop_t killdomain;
typeattribute test_kill_sigstop_t testdomain;
allow test_kill_sigstop_t test_kill_server_t:process sigstop;

# Domain for process that is allowed to send sigchld.
type test_kill_sigchld_t;
domain_type(test_kill_sigchld_t)
typeattribute test_kill_sigchld_t killdomain;
typeattribute test_kill_sigchld_t testdomain;
allow test_kill_sigchld_t test_kill_server_t:process sigchld;

# Domain for process that is allowed to send other signals.
type test_kill_signal_t;
domain_type(test_kill_signal_t)
typeattribute test_kill_signal_t killdomain;
typeattribute test_kill_signal_t testdomain;

allow test_kill_signal_t test_kill_server_t:process signal;

# Allow all of these domains to be entered from the sysadm domains,
# via kill or a program in the test directory.
miscfiles_domain_entry_test_files(killdomain)
userdom_sysadm_entry_spec_domtrans_to(killdomain)
corecmd_bin_entry_type(killdomain)
userdom_sysadm_bin_spec_domtrans_to(killdomain)

