#################################
#
# Policy for testing rename operation
#

attribute test_rename_domain;

# Types for source and destination directories for rename.
type test_rename_src_dir_t;
type test_rename_dst_dir_t;
files_type(test_rename_src_dir_t)
files_type(test_rename_dst_dir_t)

# Types for test file and directory to be renamed.
type test_rename_file_t;
type test_rename_dir_t;
files_type(test_rename_file_t)
files_type(test_rename_dir_t)

# Domain for process that can rename the test file and directory.
type test_rename_t;
domain_type(test_rename_t)
typeattribute test_rename_t test_rename_domain;
typeattribute test_rename_t testdomain;
allow test_rename_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_rename_t test_rename_dst_dir_t:dir { search getattr write add_name };
allow test_rename_t test_rename_file_t:file { getattr rename };
allow test_rename_t test_rename_dir_t:dir { getattr rename write reparent };

# Domain for process that can rename the test file over an existing file.
type test_rename2_t;
domain_type(test_rename2_t)
typeattribute test_rename2_t test_rename_domain;
typeattribute test_rename2_t testdomain;
allow test_rename2_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_rename2_t test_rename_dst_dir_t:dir { search getattr write add_name remove_name };
allow test_rename2_t test_rename_file_t:file { getattr rename };
allow test_rename2_t test_rename_dst_dir_t:file { getattr unlink };

# Domain for process that cannot rename the test file, because
# it lacks rename permission to the file.
type test_norename_t;
domain_type(test_norename_t)
typeattribute test_norename_t test_rename_domain;
typeattribute test_norename_t testdomain;
allow test_norename_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_norename_t test_rename_dst_dir_t:dir { search getattr write add_name };
allow test_norename_t test_rename_file_t:file { getattr };

# Domain for process that cannot rename the test file, because
# it lacks remove_name permission to the src_dir.
type test_norename2_t;
domain_type(test_norename2_t)
typeattribute test_norename2_t test_rename_domain;
typeattribute test_norename2_t testdomain;
allow test_norename2_t test_rename_src_dir_t:dir { search getattr write };
allow test_norename2_t test_rename_dst_dir_t:dir { search getattr write add_name };
allow test_norename2_t test_rename_file_t:file { getattr rename };

# Domain for process that cannot rename the test file, because
# it lacks add_name permission to the dst_dir.
type test_norename3_t;
domain_type(test_norename3_t)
typeattribute test_norename3_t test_rename_domain;
typeattribute test_norename3_t testdomain;
allow test_norename3_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_norename3_t test_rename_dst_dir_t:dir { search getattr write };
allow test_norename3_t test_rename_file_t:file { getattr rename };

# Domain for process that cannot rename the test file over an
# existing destination file, because it lacks remove_name permission to
# the dst_dir.
type test_norename4_t;
domain_type(test_norename4_t)
typeattribute test_norename4_t test_rename_domain;
typeattribute test_norename4_t testdomain;
allow test_norename4_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_norename4_t test_rename_dst_dir_t:dir { search getattr write add_name };
allow test_norename4_t test_rename_file_t:file { getattr rename };
allow test_norename4_t test_rename_dst_dir_t:file { getattr unlink };

# Domain for process that cannot rename the test file over an
# existing destination file, because it lacks unlink permission to
# the destination file.
type test_norename5_t;
domain_type(test_norename5_t)
typeattribute test_norename5_t test_rename_domain;
typeattribute test_norename5_t testdomain;
allow test_norename5_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_norename5_t test_rename_dst_dir_t:dir { search getattr write add_name remove_name };
allow test_norename5_t test_rename_file_t:file { getattr rename };
allow test_norename5_t test_rename_dst_dir_t:file { getattr };

# Domain for process that cannot rename the test directory,
# because it lacks reparent permission.
type test_norename6_t;
domain_type(test_norename6_t)
typeattribute test_norename6_t test_rename_domain;
typeattribute test_norename6_t testdomain;
allow test_norename6_t test_rename_src_dir_t:dir { search getattr write remove_name };
allow test_norename6_t test_rename_dst_dir_t:dir { search getattr write add_name };
allow test_norename6_t test_rename_dir_t:dir { getattr rename write };

# Allow all of these domains to be entered from sysadm domain
corecmd_bin_entry_type(test_rename_domain)
userdom_sysadm_bin_spec_domtrans_to(test_rename_domain)

