
## <summary>test_policy policy</summary>
## <desc>
##      <p>
##              More descriptive text about test_policy.  The <desc>
##              tag can also use <p>, <ul>, and <ol>
##              html tags for formatting.
##      </p>
##      <p>
##              This policy supports the following test_policy features:
##              <ul>
##              <li>Feature A</li>
##              <li>Feature B</li>
##              <li>Feature C</li>
##              </ul>
##      </p>
## </desc>
#

########################################
## <summary>
##      Execute a domain transition to run test_policy.
## </summary>
## <param name="domain">
##      Domain allowed to transition.
## </param>
#

interface(`unconfined_runs_test',`
	gen_require(`
		type unconfined_t;
               type unconfined_devpts_t;
		role unconfined_r;
	')

       # Transition from the caller to the test domain.
	allow unconfined_t $1:process transition;
	role unconfined_r types $1;
      # Report back from the test domain to the caller.
      allow $1 unconfined_t:fd use;
      allow $1 unconfined_devpts_t:chr_file { read write ioctl getattr };
      allow $1 unconfined_t:fifo_file { read write ioctl getattr };
      allow $1 unconfined_t:process { sigchld };
')

ifdef(`userdom_sysadm_entry_spec_domtrans_to',`', ` dnl
interface(`userdom_sysadm_entry_spec_domtrans_to',`
        gen_require(`
                type sysadm_t;
	')

        domain_entry_file_spec_domtrans(sysadm_t, $1)
        allow $1 sysadm_t:fd use;
        allow $1 sysadm_t:fifo_file rw_file_perms;
        allow $1 sysadm_t:process sigchld;
')
')

ifdef(`userdom_search_generic_user_home_dirs', `', ` dnl
interface(`userdom_search_generic_user_home_dirs', `
    userdom_search_user_home_dirs($1)
')
')
