#################################
#
# Policy for testing file descriptor transfer via socket IPC
#

attribute fdreceivedomain;

# Type for test file.
type test_fdreceive_file_t;
files_type(test_fdreceive_file_t)

# Type for second test file.
type test_fdreceive_file2_t;
files_type(test_fdreceive_file2_t)

# Domain for client process.
type test_fdreceive_client_t;
domain_type(test_fdreceive_client_t)
unconfined_runs_test(test_fdreceive_client_t)
typeattribute test_fdreceive_client_t fdreceivedomain;
typeattribute test_fdreceive_client_t testdomain;

# Domain for second client process.
type test_fdreceive_client2_t;
domain_type(test_fdreceive_client2_t)
unconfined_runs_test(test_fdreceive_client2_t)
typeattribute test_fdreceive_client2_t fdreceivedomain;
typeattribute test_fdreceive_client2_t testdomain;

# Domain for server process.
# Can receive fds from client, not from client2.
# Can access test file, not second test file.
type test_fdreceive_server_t;
domain_type(test_fdreceive_server_t);
unconfined_runs_test(test_fdreceive_server_t)
typeattribute test_fdreceive_server_t fdreceivedomain;
typeattribute test_fdreceive_server_t testdomain;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(fdreceivedomain)
userdom_sysadm_entry_spec_domtrans_to(fdreceivedomain)

# Grant the necessary permissions for the server domain.
## Create the Unix domain socket file.
allow test_fdreceive_server_t test_file_t:dir rw_dir_perms;
allow test_fdreceive_server_t test_file_t:sock_file create_sock_file_perms;
## Use fds created by the client domain.
allow test_fdreceive_server_t test_fdreceive_client_t:fd use;
## Access the test file.
allow test_fdreceive_server_t test_fdreceive_file_t:file rw_file_perms;

# Grant the necessary permissions for the client domain.
## Open the test files.
allow test_fdreceive_client_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client_t test_file_t:sock_file rw_sock_file_perms;
## Connect to the server domain.
allow test_fdreceive_client_t test_fdreceive_server_t:unix_stream_socket connectto;

# Grant the necessary permissions for the client2 domain.
## Open the test files.
allow test_fdreceive_client2_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client2_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client2_t test_file_t:sock_file rw_sock_file_perms;
## Connect to the server domain.
allow test_fdreceive_client2_t test_fdreceive_server_t:unix_stream_socket connectto;
