#########################################
#
# Policy for testing the selinux_task_setpgid hook
#

attribute test_setpgid_d;

# Domain for process allowed to setpgid
type test_setpgid_yes_t;
domain_type(test_setpgid_yes_t)
typeattribute test_setpgid_yes_t test_setpgid_d;
typeattribute test_setpgid_yes_t testdomain;

# Domain for process not allowed to setpgid.
# The same permissions as test_setpgid_yes_t, except process setpgid
type test_setpgid_no_t;
domain_type(test_setpgid_no_t)
typeattribute test_setpgid_no_t test_setpgid_d;

allow test_setpgid_no_t self:process ~{ setpgid setcurrent };
allow test_setpgid_no_t proc_t:dir r_dir_perms;
allow test_setpgid_no_t proc_t:lnk_file read;
allow test_setpgid_no_t self:dir r_dir_perms;
allow test_setpgid_no_t self:notdevfile_class_set r_file_perms;

libs_use_ld_so(test_setpgid_no_t)
libs_use_shared_libs(test_setpgid_no_t)
allow test_setpgid_no_t self:process setexec;
selinux_get_fs_mount(test_setpgid_no_t)

allow test_setpgid_no_t { root_t bin_t sbin_t lib_t locale_t usr_t devpts_t home_root_t }:dir r_dir_perms;
allow test_setpgid_no_t lib_t:lnk_file r_file_perms;
allow test_setpgid_no_t { devtty_t null_device_t zero_device_t }:chr_file rw_file_perms;
allow test_setpgid_no_t locale_t:dir r_dir_perms;
allow test_setpgid_no_t locale_t:{ file lnk_file } r_file_perms;
allow test_setpgid_no_t privfd:fd use;
userdom_use_sysadm_ptys(test_setpgid_no_t)
userdom_use_sysadm_ttys(test_setpgid_no_t)

# Allow domain to be entered from the sysadm domain.
role sysadm_r types test_setpgid_d;
role system_r types test_setpgid_d;
miscfiles_domain_entry_test_files(test_setpgid_d)
userdom_sysadm_entry_spec_domtrans_to(test_setpgid_d)
