#################################
#
# Policy for testing process dyntrans permission
#
 
attribute dyntransdomain;

# Domain for process that is allowed to transition to the new domain.
type test_dyntrans_fromdomain_t;
domain_type(test_dyntrans_fromdomain_t)
typeattribute test_dyntrans_fromdomain_t dyntransdomain;
typeattribute test_dyntrans_fromdomain_t testdomain;

# Domain for process that is not allowed to transition to the new domain.
type test_dyntrans_notfromdomain_t;
domain_type(test_dyntrans_notfromdomain_t)
typeattribute test_dyntrans_notfromdomain_t dyntransdomain;
typeattribute test_dyntrans_notfromdomain_t testdomain;

# Allow the fromdomain to dyntrans to the new domain.
type test_dyntrans_todomain_t;
domain_type(test_dyntrans_todomain_t)
typeattribute test_dyntrans_todomain_t dyntransdomain;
typeattribute test_dyntrans_todomain_t testdomain;

# Allow the fromdomain to dyntrans to the new domain.
allow test_dyntrans_fromdomain_t test_dyntrans_todomain_t:process dyntransition;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(dyntransdomain)
userdom_sysadm_entry_spec_domtrans_to(dyntransdomain)

