#################################
#
# Policy for testing file related capabilities. This policy file is the
# start of capable-related policies and will contain general as well as
# file specific permissions.
#

# Declarations

attribute capabledomain;

# Type for processes that are allowed certain capabilities
type test_fcap_t;
typeattribute test_fcap_t capabledomain;
typeattribute test_fcap_t testdomain;
domain_type(test_fcap_t)
unconfined_runs_test(test_fcap_t)

# Domain for processes that have restricted capability
type test_resfcap_t;
typeattribute test_resfcap_t capabledomain;
typeattribute test_resfcap_t testdomain;
domain_type(test_resfcap_t)
unconfined_runs_test(test_resfcap_t)

# Another domain for processes that have restricted capability
type test_res2fcap_t;
typeattribute test_res2fcap_t capabledomain;
typeattribute test_res2fcap_t testdomain;
domain_type(test_res2fcap_t)
unconfined_runs_test(test_res2fcap_t)

# Domain for process that has no capability
type test_nofcap_t;
typeattribute test_nofcap_t capabledomain;
typeattribute test_nofcap_t testdomain;
domain_type(test_nofcap_t)
unconfined_runs_test(test_nofcap_t)

# Allow execution of helper programs.
corecmd_exec_bin(capabledomain)
domain_exec_all_entry_files(capabledomain)
files_exec_etc_files(capabledomain)
libs_use_ld_so(capabledomain)
libs_use_shared_libs(capabledomain)
libs_exec_ld_so(capabledomain)
libs_exec_lib_files(capabledomain)

# Allow test_file_t and bin_t to be entered from sysadm role
miscfiles_domain_entry_test_files(capabledomain)
userdom_sysadm_entry_spec_domtrans_to(capabledomain)
corecmd_bin_entry_type(capabledomain)
sysadm_bin_spec_domtrans_to(capabledomain)

# Allow these domains to create a temporay file.
allow capabledomain test_file_t:file { setattr rw_file_perms };
allow capabledomain test_file_t:chr_file { create };
allow capabledomain test_file_t:dir { setattr rw_dir_perms };

# Permissions for the good domain
allow test_fcap_t self:capability { dac_override chown fowner fsetid lease setuid mknod };

# Permissions for the first restricted domain
allow test_resfcap_t self:capability { dac_override fowner setuid };

# Permissions for the second restricted domain
allow test_res2fcap_t self:capability { dac_read_search };
