#################################
#
# Policy for testing readlink and follow_link operations
#

attribute test_readlink_domain;

# Types for test file and test symbolic link.
type test_readlink_file_t;
type test_readlink_link_t;
files_type(test_readlink_file_t)
files_type(test_readlink_link_t)

# Domain for process that can read and follow the symbolic link.
type test_readlink_t;
domain_type(test_readlink_t)
typeattribute test_readlink_t test_readlink_domain;
typeattribute test_readlink_t testdomain;
allow test_readlink_t test_readlink_file_t:file { getattr read };
allow test_readlink_t test_readlink_link_t:lnk_file { getattr read };

# Domain for process that cannot read or follow the symbolic link.
type test_noreadlink_t;
domain_type(test_noreadlink_t)
typeattribute test_noreadlink_t test_readlink_domain;
typeattribute test_noreadlink_t testdomain;
allow test_noreadlink_t test_readlink_file_t:file { getattr read };
allow test_noreadlink_t test_readlink_link_t:lnk_file { getattr };

# TODO: Needs to be translated into refpolicy... how?
# Allow all of these domains to be entered from sysadm domain
require {
	type ls_exec_t;
}
domain_trans(sysadm_t, ls_exec_t, test_readlink_domain)
domain_entry_file(test_readlink_domain, ls_exec_t)
