#################################
#
# Policy for testing the task_wait hook
#

attribute waitdomain;

# Domain for parent process.
type test_wait_parent_t;
domain_type(test_wait_parent_t)
unconfined_runs_test(test_wait_parent_t)
typeattribute test_wait_parent_t waitdomain;
typeattribute test_wait_parent_t testdomain;

# Domain for child process that can be reaped by the parent.
type test_wait_child_t;
domain_type(test_wait_child_t)
unconfined_runs_test(test_wait_child_t)
typeattribute test_wait_child_t waitdomain;
typeattribute test_wait_child_t testdomain;

# Domain for child process that cannot be reaped by the parent.
type test_wait_notchild_t;
domain_type(test_wait_notchild_t)
unconfined_runs_test(test_wait_notchild_t)
typeattribute test_wait_notchild_t waitdomain;
typeattribute test_wait_notchild_t testdomain;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(waitdomain)
userdom_sysadm_entry_spec_domtrans_to(waitdomain)

# Grant permissions for a domain transition from parent to child,
# including the ability to wait on the child.
domain_trans(test_wait_parent_t, test_file_t, test_wait_child_t)
allow test_wait_parent_t test_wait_child_t:fd use;
allow test_wait_child_t test_wait_parent_t:fd use;
allow test_wait_child_t test_wait_parent_t:fifo_file rw_file_perms;
allow test_wait_child_t test_wait_parent_t:process sigchld;

# Permit the parent to transition to the notchild, but don't
# grant the permission to wait on it.
allow test_wait_parent_t test_wait_notchild_t:process transition;
allow test_wait_notchild_t test_wait_parent_t:fd use;
allow test_wait_notchild_t test_file_t:file entrypoint;
