#################################
#
# Policy for testing tracing across an dyn
#

attribute dyntracedomain;

# Domain for parent process.
type test_dyntrace_parent_t;
domain_type(test_dyntrace_parent_t)
unconfined_runs_test(test_dyntrace_parent_t)
domain_dyntrans_type(test_dyntrace_parent_t)
typeattribute test_dyntrace_parent_t dyntracedomain;
typeattribute test_dyntrace_parent_t testdomain;
allow test_dyntrace_parent_t self:process ptrace;

# Domain for child process that can be traced across a
# dynamic trans by the parent.
type test_dyntrace_child_t;
domain_type(test_dyntrace_child_t)
unconfined_runs_test(test_dyntrace_child_t)
typeattribute test_dyntrace_child_t dyntracedomain;
typeattribute test_dyntrace_child_t testdomain;

# Domain for child process that cannot be traced across a
# dynamic transition by the parent.
type test_dyntrace_notchild_t;
domain_type(test_dyntrace_notchild_t) 
unconfined_runs_test(test_dyntrace_notchild_t)
typeattribute test_dyntrace_notchild_t dyntracedomain;
typeattribute test_dyntrace_notchild_t testdomain;

# Allow test_files_t to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(dyntracedomain)
userdom_sysadm_entry_spec_domtrans_to(dyntracedomain)
miscfiles_exec_test_files(dyntracedomain)

# Grant the necessary permissions for the child domain.
allow test_dyntrace_parent_t test_dyntrace_child_t:process dyntransition;
allow test_dyntrace_child_t test_dyntrace_parent_t:process sigchld;
allow test_dyntrace_parent_t test_dyntrace_child_t:process { ptrace getattr };
allow test_dyntrace_parent_t test_dyntrace_child_t:dir search;
allow test_dyntrace_parent_t test_dyntrace_child_t:file read;
allow test_dyntrace_parent_t test_dyntrace_child_t:file read;

# Grant the notchild domain all the same permissions except for ptrace.
allow test_dyntrace_parent_t test_dyntrace_notchild_t:process dyntransition;
allow test_dyntrace_parent_t test_dyntrace_notchild_t:process getattr;
allow test_dyntrace_parent_t test_dyntrace_notchild_t:dir search;
allow test_dyntrace_parent_t test_dyntrace_notchild_t:file read;
allow test_dyntrace_parent_t test_dyntrace_notchild_t:file read;

