#################################
#
# Policy for testing state sharing across an exec
#
 
attribute execsharedomain;

# Domain for parent process.
type test_execshare_parent_t;
domain_type(test_execshare_parent_t)
unconfined_runs_test(test_execshare_parent_t)
typeattribute test_execshare_parent_t execsharedomain;
typeattribute test_execshare_parent_t testdomain;

# Domain for child process that can share state with the parent across exec.
type test_execshare_child_t;
domain_type(test_execshare_child_t)
unconfined_runs_test(test_execshare_child_t)
typeattribute test_execshare_child_t execsharedomain;
typeattribute test_execshare_child_t testdomain;

# Domain for child process that cannot share state with the parent across exec.
type test_execshare_notchild_t;
domain_type(test_execshare_notchild_t);
unconfined_runs_test(test_execshare_notchild_t)
typeattribute test_execshare_notchild_t execsharedomain;
typeattribute test_execshare_notchild_t testdomain;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(execsharedomain)
userdom_sysadm_entry_spec_domtrans_to(execsharedomain)

# Grant the necessary permissions for the child domain.
domain_entry_file_spec_domtrans(test_execshare_parent_t, test_execshare_child_t)
allow test_execshare_parent_t test_execshare_child_t:fd use;
allow test_execshare_child_t test_execshare_parent_t:fd use;
allow test_execshare_child_t test_execshare_parent_t:fifo_file rw_file_perms;
allow test_execshare_child_t test_execshare_parent_t:process sigchld;
allow test_execshare_parent_t test_execshare_child_t:process share;

# Grant the notchild domain all the same permissions except for share.
domain_entry_file_spec_domtrans(test_execshare_parent_t, test_execshare_notchild_t)
allow test_execshare_parent_t test_execshare_notchild_t:fd use;
allow test_execshare_notchild_t test_execshare_parent_t:fd use;
allow test_execshare_notchild_t test_execshare_parent_t:fifo_file rw_file_perms;
allow test_execshare_notchild_t test_execshare_parent_t:process sigchld;
