#################################
#
# Policy for testing relabel (chsid) operations
#

attribute test_relabel_domain;

# Original and new types for the test file.
type test_relabel_oldtype_t;
type test_relabel_newtype_t;
files_type(test_relabel_oldtype_t)
files_type(test_relabel_newtype_t)

# Domain for process that can relabel the test file.
type test_relabel_t;
domain_type(test_relabel_t)
unconfined_runs_test(test_relabel_t)
domain_obj_id_change_exemption(test_relabel_t)
typeattribute test_relabel_t test_relabel_domain;
typeattribute test_relabel_t testdomain;
allow test_relabel_t test_relabel_oldtype_t:file { getattr relabelfrom };
allow test_relabel_t test_relabel_newtype_t:file { getattr relabelto };

# Domain for process that lacks relabelfrom permission to the old type.
type test_norelabelfrom_t;
domain_type(test_norelabelfrom_t)
unconfined_runs_test(test_norelabelfrom_t)
domain_obj_id_change_exemption(test_norelabelfrom_t)
typeattribute test_norelabelfrom_t test_relabel_domain;
typeattribute test_norelabelfrom_t testdomain;
allow test_norelabelfrom_t test_relabel_oldtype_t:file { getattr };
allow test_norelabelfrom_t test_relabel_newtype_t:file { getattr relabelto };

# Domain for process that lacks relabelto permission to the new type.
type test_norelabelto_t;
domain_type(test_norelabelto_t)
unconfined_runs_test(test_norelabelto_t)
domain_obj_id_change_exemption(test_norelabelto_t)
typeattribute test_norelabelto_t test_relabel_domain;
typeattribute test_norelabelto_t testdomain;
allow test_norelabelto_t test_relabel_oldtype_t:file { getattr relabelfrom };
allow test_norelabelto_t test_relabel_newtype_t:file { getattr };

# Allow all of these domains to be entered from sysadm domain
corecmd_bin_entry_type(test_relabel_domain)
sysadm_bin_spec_domtrans_to(test_relabel_domain)

