#################################
#
# Policy for testing setnice permission
#

attribute setnicedomain;

# Domain for process whose nice can be set.
type test_setnice_set_t;
domain_type(test_setnice_set_t)
typeattribute test_setnice_set_t setnicedomain;
typeattribute test_setnice_set_t testdomain;

# Domain for process whose nice cannot be set.
type test_setnice_noset_t;
domain_type(test_setnice_noset_t)
typeattribute test_setnice_noset_t setnicedomain;
typeattribute test_setnice_noset_t testdomain;

# Domain for parent process.
type test_setnice_change_t;
domain_type(test_setnice_change_t)
typeattribute test_setnice_change_t setnicedomain;
typeattribute test_setnice_change_t testdomain;

# Allow execution of helper programs.
corecmd_exec_bin(setnicedomain)
corecmd_exec_sbin(setnicedomain)
domain_exec_all_entry_files(setnicedomain)
files_exec_etc_files(setnicedomain)
libs_use_ld_so(setnicedomain)
libs_use_shared_libs(setnicedomain)
libs_exec_ld_so(setnicedomain)
libs_exec_lib_files(setnicedomain)

# Allow all of these domains to be entered from sysadm domain
# via a shell script in the test directory or by....
miscfiles_domain_entry_test_files(setnicedomain)
domain_trans(sysadm_t, test_file_t, setnicedomain)
domain_trans(test_setnice_change_t, test_file_t, {test_setnice_set_t test_setnice_noset_t})
allow test_setnice_change_t test_setnice_set_t:fd use;
allow test_setnice_set_t test_setnice_change_t:fd use;
allow test_setnice_set_t test_setnice_change_t:fifo_file rw_file_perms;
allow test_setnice_set_t test_setnice_change_t:process sigchld;
allow test_setnice_set_t test_setnice_change_t:file rw_file_perms;
allow test_setnice_change_t test_setnice_noset_t:fd use;
allow test_setnice_noset_t test_setnice_change_t:fd use;
allow test_setnice_noset_t test_setnice_change_t:fifo_file rw_file_perms;
allow test_setnice_noset_t test_setnice_change_t:process sigchld;
allow test_setnice_noset_t test_setnice_change_t:file rw_file_perms;

allow test_setnice_change_t test_setnice_set_t:process setsched;
