#################################
#
# Policy for testing tracing across an exec
#

attribute exectracedomain;

# Domain for parent process.
type test_exectrace_parent_t;
domain_type(test_exectrace_parent_t)
typeattribute test_exectrace_parent_t exectracedomain;
typeattribute test_exectrace_parent_t testdomain;

# Required for PTRACE_TRACEME.
allow test_exectrace_parent_t self:process ptrace;

# Domain for child process that can be traced across an exec by the parent.
type test_exectrace_child_t;
domain_type(test_exectrace_child_t)
typeattribute test_exectrace_child_t exectracedomain;
typeattribute test_exectrace_child_t testdomain;

# Domain for child process that cannot be traced across an exec by the parent.
type test_exectrace_notchild_t;
domain_type(test_exectrace_notchild_t)
typeattribute test_exectrace_notchild_t exectracedomain;
typeattribute test_exectrace_notchild_t testdomain;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(exectracedomain)
userdom_sysadm_entry_spec_domtrans_to(exectracedomain)

# Grant the necessary permissions for the child domain.
domain_entry_file_spec_domtrans(test_exectrace_parent_t, test_exectrace_child_t)
allow test_exectrace_parent_t test_exectrace_child_t:fd use;
allow test_exectrace_child_t test_exectrace_parent_t:fd use;
allow test_exectrace_child_t test_exectrace_parent_t:fifo_file rw_file_perms;
allow test_exectrace_child_t test_exectrace_parent_t:process sigchld;
allow test_exectrace_parent_t test_exectrace_child_t:process { ptrace getattr };
allow test_exectrace_parent_t test_exectrace_child_t:dir search;
allow test_exectrace_parent_t test_exectrace_child_t:file read;

# Grant the notchild domain all the same permissions except for ptrace.
domain_entry_file_spec_domtrans(test_exectrace_parent_t, test_exectrace_notchild_t)
allow test_exectrace_parent_t test_exectrace_notchild_t:fd use;
allow test_exectrace_notchild_t test_exectrace_parent_t:fd use;
allow test_exectrace_notchild_t test_exectrace_parent_t:fifo_file rw_file_perms;
allow test_exectrace_notchild_t test_exectrace_parent_t:process sigchld;
allow test_exectrace_parent_t test_exectrace_notchild_t:process getattr;
allow test_exectrace_parent_t test_exectrace_notchild_t:dir search;
allow test_exectrace_parent_t test_exectrace_notchild_t:file read;
