#################################
# 
# Policy for testing the task_wait hook
#

# Domain for parent process.
type test_wait_parent_t, domain, waitdomain, testdomain;

# Domain for child process that can be reaped by the parent.
type test_wait_child_t, domain, waitdomain, testdomain;

# Domain for child process that cannot be reaped by the parent.
type test_wait_notchild_t, domain, waitdomain, testdomain;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, waitdomain)

# Grant permissions for a domain transition from parent to child,
# including the ability to wait on the child.
domain_trans(test_wait_parent_t, test_file_t, test_wait_child_t)

# Permit the parent to transition to the notchild, but don't
# grant the permission to wait on it.
allow test_wait_parent_t test_wait_notchild_t:process transition;
allow test_wait_notchild_t test_file_t:file entrypoint;


