#################################
# 
# Policy for testing read and search access to a directory.
#

# Type for top-level test directory in which the tests are performed.
type test_rxdir_dir_t, file_type, sysadmfile;

# Domain for process that can read but not search the directory.
type test_rdir_t, domain, test_rxdir_domain, testdomain;
allow test_rdir_t test_rxdir_dir_t:dir { getattr read };
allow test_rdir_t test_rxdir_dir_t:file { getattr };

# Domain for process that can search but not read the directory.
type test_xdir_t, domain, test_rxdir_domain, testdomain;
allow test_xdir_t test_rxdir_dir_t:dir { getattr search };
allow test_xdir_t test_rxdir_dir_t:file { getattr };

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, ls_exec_t, test_rxdir_domain)

