#################################
# 
# Policy for testing stat operations
#

# Types for test file.
type test_stat_file_t, file_type, sysadmfile;

# Domain for process that can get attributes on the test file.
type test_stat_t, domain, test_stat_domain, testdomain;
allow test_stat_t test_stat_file_t:file getattr;

# Domain for process that cannot set attributes on the test file.
type test_nostat_t, domain, test_stat_domain, testdomain;

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, ls_exec_t, test_stat_domain)

