#################################
# 
# Policy for testing state sharing across an exec
#

# Domain for parent process.
type test_execshare_parent_t, domain, execsharedomain, testdomain;

# Domain for child process that can share state with the parent across exec.
type test_execshare_child_t, domain, execsharedomain, testdomain;

# Domain for child process that cannot share state with the parent across exec.
type test_execshare_notchild_t, domain, execsharedomain, testdomain;

# Allow all of these domains to be entered from the sysadm domain.
domain_trans(sysadm_t, test_file_t, execsharedomain)

# Grant the necessary permissions for the child domain.
domain_trans(test_execshare_parent_t, test_file_t, test_execshare_child_t)
allow test_execshare_parent_t test_execshare_child_t:process share;

# Grant the notchild domain all the same permissions except for share.
domain_trans(test_execshare_parent_t, test_file_t, test_execshare_notchild_t)

