#################################
# 
# Policy for testing readlink and follow_link operations
#

# Types for test file and test symbolic link.
type test_readlink_file_t, file_type, sysadmfile;
type test_readlink_link_t, file_type, sysadmfile;

# Domain for process that can read and follow the symbolic link.
type test_readlink_t, domain, test_readlink_domain, testdomain;
allow test_readlink_t test_readlink_file_t:file { getattr read };
allow test_readlink_t test_readlink_link_t:lnk_file { getattr read };

# Domain for process that cannot read or follow the symbolic link.
type test_noreadlink_t, domain, test_readlink_domain, testdomain;
allow test_noreadlink_t test_readlink_file_t:file { getattr read };
allow test_noreadlink_t test_readlink_link_t:lnk_file { getattr };

# Allow all of these domains to be entered from sysadm domain
domain_trans(sysadm_t, ls_exec_t, test_readlink_domain)

