/message_queue_test_01
/message_queue_test_02_ctl
/message_queue_test_02_get
/message_queue_test_02_rcv
/message_queue_test_02_snd
/message_queue_test_04
/message_queue_test_05
/pipe_test_01
/pipe_test_02
/semaphore_test_01
/semaphore_test_02
/semaphore_test_03
/shmem_test_01
/shmem_test_02
/shmem_test_03
/shmem_test_04
/shmem_test_05
/shmem_test_06
/shmem_test_07
/signal_test_01
/signal_test_02
/signal_test_03
/signal_test_04
/signal_test_05
/signal_test_06
/signal_test_07
